h1{
    color: #772432;
    font-family: 'Alex Brush', cursive;
    font-size: 70px;
    margin: 70px auto;
    text-align: center;
    background-color: rgba(0,0,0,0.03);
    border-radius: 20px;
    padding: 20px;
}

h2{
    color: #F2DF74;
    font-family: 'The Girl Next Door', cursive;
    font-size: 80px;
    margin: 70px auto;
    text-align: center;
    background-color: rgba(169,178,177,0.2);
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
}

p{
    color: #FFFFFF;
    font-size: 20px;
    background-color: rgba(0,0,0,0.3);
    padding: 35px;
    border-radius: 20px;
    margin: 30px auto;
}


/* Navigation Bar */

.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ephesis', cursive;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.5rem;
    font-family: 'Petit Formal Script', cursive;
}

.copyright{
    font-size: 12px;
    color: #A9B2B1;
    text-align: right;
    padding-right: 1%;
}

.message{
    color: #004165;
    font-family: 'Zeyada', cursive;
    font-size: 50px;
    margin: 70px auto;
    text-align: center;
    background-color: rgba(242,223,116,0.65);
    border-radius: 50px;
    padding: 50px;
}

.memory{
    color: #F2D474;
    font-family: 'Zeyada', cursive;
    font-size: 50px;
    margin: 70px auto;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 50px;
    padding: 50px;
}

.recipe{
    color: #F2D474;
    font-family: 'Coming Soon', cursive;
    font-size: 50px;
    margin: 70px auto;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 50px;
    padding: 50px;
}

.faverecipes{
    color: #004165;
    font-family: 'Petit Formal Script', cursive;
    font-size: 90px;
    margin: 70px auto;
    text-align: center;
    background-color: rgba(242,223,116,0.7);
    border-radius: 20px;
    padding: 20px;
    font-weight: bold;
}

@media (max-width: 1180px){
    .scroll-long{
    max-height: 900px;
    overflow-y: auto;
    }
}

@media (max-width: 800px){
    .scroll-long{
    max-height: 450px;
    overflow-y: auto;
    }
}

@media (max-width: 500px){

    h1, h2, .faverecipes{
        font-size: 40px;
        padding-top: 70px;
    }

    p{
        font-size: 15px;
    }

    .recipe{
        font-size: 18px;
    }

    .scroll-long{
    max-height: 300px;
    overflow-y: auto;
    }

    .message, .memory {
        font-size: 30px;
    }
}
